.navbar {
    background-color: red;
    width: auto;
    height: 57px;
    display: flex;
    justify-content: center;
    color: white;
    margin: 3px;
    border-radius: 5px;
    font-size: 22px;
    font-weight: bold;
}
.navbar > span{
    padding: 10px;
}